<div class="tabbar main-bg">
  <a href="index.html" class="tabbar__item tabbar__item--active">
    <div class="tabbar__item__icon">
      <img class="icon-img" src="./images/common/tabbar/iconHome@2x.png" style="display: none;" alt="" />
      <img class="icon-img-active" src="./images/common/tabbar/iconHomeActive@2x.png" style="display: block;" alt="" />
    </div>
    <span class="item-text">首页</span>
  </a>
  <a href="promo.html" class="tabbar__item">
    <div class="tabbar__item__icon">
      <img class="icon-img" src="./images/common/tabbar/iconPromotions@2x.png" alt="" />
      <img class="icon-img-active" src="./images/common/tabbar/iconPromotionsActive@2x.png" style="display: block;"
        alt="" />
    </div>
    <span class="item-text">活动</span>
  </a>
  <a href="deposit.html" class="tabbar__item -center">
    <div class="tabbar__item__icon">
      <img class="icon-img" src="./images/common/tabbar/iconWithdrew@2x.gif" alt="" />
      <img class="icon-img-active" src="./images/common/tabbar/iconWithdrewActive@2x.gif" style="display:none" alt="" />
    </div>
    <span class="item-text">存提</span>
  </a>
  <a href="service.html" class="tabbar__item">
    <div class="tabbar__item__icon">
      <img class="icon-img" src="./images/common/tabbar/iconCustomerService@2x.png" alt="" />
      <img class="icon-img-active" src="./images/common/tabbar/iconCustomerServiceActive@2x.png" style="display:none"
        alt="" />
    </div>
    <span class="item-text">客服</span>
  </a>
  <a href="member.html" class="tabbar__item">
    <div class="tabbar__item__icon">
      <img class="icon-img" src="./images/common/tabbar/iconMember@2x.png" alt="" />
      <img class="icon-img-active" src="./images/common/tabbar/iconMemberActive@2x.png" style="display:none" alt="" />
    </div>
    <span class="item-text">会员</span>
  </a>
</div>