<div class="header__lf">
  <div class="brand-logo">
    <img src="./images/common/image/main_logo@3x.png" alt="" class="brand-logo__img">
  </div>
</div>
<div class="header__rt">
  <!-- <a href="javascript:void(0);" class="roulette-entrance" onclick="window.rouletteIndexShow()">
    <img src="<%=require('@design/image/roulette/entrance_wheel.gif')%>" alt="" class="roulette-entrance__icon">
    <div class="roulette-entrance__number">23:59:59</div>
  </a> -->
  <a href="javascript:void(0);" class="message-info">
    <div class="message-info__icon" style="display:none;">
      <img class="icon-img" src="./images/common/image/icon_menu@2x.png" alt="">
    </div>
    <span class="message-info__icon--info" style="display:block;"></span>
  </a>
</div>